extends ../layouts/default

mixin post(post)
	.post-preview
		a(href='/blog/post/' + post.slug)
			h2.post-title  #{post.title}
			h3.post-subtitle!= post.content.brief
		p.post-meta Опубликовано 
			if post.publishedDate
				| #{post._.publishedDate.format('DD.MM.YYYY')} 
	hr

block header
	block header
		header.intro-header(style={background: '#0085a1'})
			.container
				.row
					.col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
						.site-heading
							h1 Мой блог
							hr.small
							span.subheading (UX Design and JavaScript Development)

block content
	.container: .row
		.col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
				each post in data.posts.results
					+post(post)

			if data.posts.totalPages > 1
				ul.pagination
					if data.posts.previous
						li: a(href='?page=' + data.posts.previous): span.glyphicon.glyphicon-chevron-left
					else
						li.disabled: a(href='?page=' + 1): span.glyphicon.glyphicon-chevron-left
					each p, i in data.posts.pages
						li(class=data.posts.currentPage == p ? 'active' : null)
							a(href='?page=' + (p == '...' ? (i ? data.posts.totalPages : 1) : p ))= p
					if data.posts.next
						li: a(href='?page=' + data.posts.next): span.glyphicon.glyphicon-chevron-right
					else
						li.disabled: a(href='?page=' + data.posts.totalPages): span.entypo.glyphicon.glyphicon-chevron-right
	
