extends ../layouts/default

block header
	header.intro-header(style={background: '#0085a1'})
		.container
			.row
				.col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
					.site-heading
						h1 Контакты

block content
	p Юрий Морозов (daturon)
	p: a(href="mailto:daturon@gmail.com") daturon@gmail.com
	p skype: daturon69
