extends ../layouts/default

block header
	header.intro-header(style={background: '#0085a1'})
		.container
			.row
				.col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
					.site-heading
						h1 Дизайн и разработка
						hr.small
						span.subheading (UX Design and JavaScript Development)

block content
